.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* height: 70px; */
  border-bottom: 1px solid rgb(231, 230, 230);
}
a {
  text-decoration: none; /*no underline */
  color: inherit;
}

.chat__details {
  flex: 1;
  /* padding: 20px; */
}

.chat__details > p {
  color: gray;
}

.chat__timestamp {
  color: lightgray;
}

.chat__image {
  margin-right: 20px;
}
