.profile {
  background-color: white;
}

.profile__beforeBody {
  display: grid;
  place-items: center;
  background-color: #ededed;
  height: 100vh;
}
.profile__body {
  display: flex;
  background-color: #dadbd3;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px black;
  margin-top: -50px;
}
.profile__body__text {
  place-items: center;
  position: absolute;
  padding: 30px;
}

.profile__body__icons {
  justify-content: space-between;
  place-items: center;
  display: flex;
  flex: 0.8;
}
